<div class="login-page">
  <div class="brand">
    <img src="assets/logo.svg" alt="Logo" class="brand-svg" />
    <h1>Sistema Financeiro Inteligente</h1>
    <!-- <p class="subtitle">Gestão Financeira Inteligente</p> -->
  </div>

  <div class="card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="username">Usuário</label>
        <span class="p-input-icon-left" style="display:block">
          <i class="pi pi-user"></i>
          <input id="username" pInputText type="text" formControlName="username" placeholder="Usuário" />
        </span>
      </div>

      <div class="field">
        <label for="senha">Senha</label>
        <p-password inputId="senha" formControlName="senha" [feedback]="false" toggleMask placeholder="Digite sua senha"></p-password>
        <a class="recover" routerLink="/esqueci-senha">Recuperar Senha?</a>
      </div>

      <div class="form-actions">
        <p-button type="submit" [label]="loading ? 'Entrando...' : 'Entrar'" severity="primary" [disabled]="form.invalid || loading" [loading]="loading" icon="pi pi-sign-in" iconPos="right"></p-button>
      </div>

      <p-message *ngIf="error" severity="error" [text]="error"></p-message>
    </form>

    <div class="extras">
      <div class="secure">🛡️ Ambiente Seguro </div>
    </div>
  </div>

  <p class="register">
    Não possui conta?
    <a routerLink="/register">Criar conta</a>
  </p>
</div>
